.lista_titulo{
    margin: 20px 30px 10px 30px;
    font-size: 25px;
    font-weight: bold;
}

.lista_titulo a{
    color: #103373 !important;
}

.buscar_agregar{
    text-align: right;
    margin-right: 30px;
    font-size: 20px;
}

.buscar_agregar input[type="button"]{
    font-weight: bold;
    background-color: #2b78e4;
    color: white;
    border-radius: 8px;
    padding: 3px 6px 5px 6px;
    text-align: center;
}

.buscar_agregar input[type="search"]{
    color: rgb(49, 49, 49);
    border-radius: 8px;
    padding: 4px 6px 4px 6px;
    width: 40%;
    margin-right:20px;
}

.check{
    margin: 15px 30px 0px 0px;
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    font-size: 23px;
}

.check input[type="checkbox"] {
    transform: scale(2);
    padding: 10px;
    margin-right: 10px;
}

.presentacion {
    margin-top: 40px !important;
    background-color: #eeeeee;
    border: solid;
    border-color: #073763;
    border-radius: 13px;
    margin: auto;
    width: 96%;
}

.presentacion h2{
    margin-top: 5px;
    text-align: center;
    color: #073763;
}

.presentacion .mosaico {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: auto;
}

#imagen{
    position: relative;
}

.sobre{
    width: 70% !important;
    margin-left: 20%;
}


.franja{
    padding: 20% 0% 20% 0%;
    display: grid;
    gap: 10px;
    position:absolute;
    left:75%;
    top:0px;
    width: 25%; 
    height: 100%;
    text-align: center !important;
    background: linear-gradient(to left, rgba(238,238,238,1) 0%,rgba(238,238,238,0) 100%);
    border-top-right-radius: 10px;
    z-index: -1;
}

.tarjeta:hover .franja{
    z-index: 1;
}


/* #fotomosaico{
    height: ;
} */

.presentacion .mosaico article {
    break-inside: avoid;
    page-break-inside: avoid;
    margin: 40px;
    border: solid;
    border-color: #073763;
    border-radius: 13px;
}

.presentacion .mosaico article figure {
    text-align: center;
    margin: 0px;
}

.presentacion .mosaico article figure img {
    margin-top: 5px;
    width: 95%;
}

.presentacion .mosaico article .nombre-datos{
    margin: 5px 0px 5px 10px;
}

.presentacion .mosaico article .nombre-datos .nombre{
    margin-bottom: 0px;
    
}

/* Móviles en horizontal o tablets en vertical */


@media (max-width: 1130px) { 
    .presentacion .mosaico {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 767px) { 
    .presentacion .mosaico {
        grid-template-columns: repeat(2, 1fr);
    }

}
        
/* Móviles en vertical */

@media (max-width: 480px) {
    .presentacion .mosaico {
        grid-template-columns: repeat(1, 1fr);
    }
}