body {
    color: white
}

body section {
    color: #103373;
}

nav {
    background-color: #103373;
}

.navbar-brand{
    font-size: 30px;
    color: #E5E5E5 !important;
}

nav div a{
    font-size: 22px;
    color: gray
}

.navbar-brand img {
    filter:invert(0.8) sepia(1) hue-rotate(1deg) saturate(0%);
}


.logo img {
    margin-top: 0.3em;
}

col p, h4 {
    margin-bottom: 0px;
    text-align: left;
}

col h4, p {
    margin-bottom: 0px;
    text-align: left;
}

footer{
    margin-top: 30px;
}
/* Lista flotante para Cierre de Sesión y Perfil */

#user {
    margin:auto;
    width:500px;
    font-family: Arial, Helvetica, sans-serif;
}

#user ul, ol{
    list-style: none;
}
#user li a{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;


}

#user  li:hover {
    background-color: #4e4a4a;
    transform: translateY(-5px);


}

#user  li a:hover {
    background-color: #4e4a4a;
    transform: translateY(-5px);


}

#user  li ul{
    display:none;
    position:absolute;
    min-width: 140px;
}
#user  li:hover > ul{
    display:block;
  
}

#user img{
    align-content:right
}
