.nombre_titulo{
    margin: 20px 30px 10px 30px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
}

.nombre{
    color: #073763 !important;
}

.img{
    margin-top: 3px;
}

.presentacion h2{
    margin-top: 5px;
    padding-bottom: 20px;
    text-align: center;
    color: #073763;
}

.foto-formulario{
    display: grid !important;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    margin: 20px 50px 20px 50px;
}

.foto_producto{
    text-align: center;
}

.foto_producto img{
    width: 300px;
    margin-bottom: 20px;;
}


.formulario form{
    display: grid !important;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

}

.formulario form input{
    width: 80%;
}

.presentacion {
    margin-top: 40px !important;
    background-color: #eeeeee;
    border: solid;
    border-color: #073763;
    border-radius: 13px;
    margin: auto;
    width: 96%;
}

.presentacion h2{
    margin-top: 5px;
    text-align: center;
    color: #073763;
}

#col_2{
    position: relative;  
    display: grid;
    justify-content: center;  
}

#btn_enviar{
    background-image: url(/static/img/anadir.png);
    background-size: cover;
    width:50px;
    height: 48px;
    border-radius: 50%;
}

#btn_cancelar{
    background-image: url(/static/img/cancelar.png);
    background-size: cover;
    width:50px;
    height: 48px;
    border-radius: 50%;
}

#btn_editar{
    background-image: url(/static/img/edit.png);
    background-size: cover;
    width:46px;
    height: 48px;
    border-radius: 30%;
    border-color: transparent;
}

#btn_delete{
    background-image: url(/static/img/delete.png);
    background-size: cover;
    width:46px;
    height: 48px;
    border-radius: 30%;
    border-color: transparent;
}

.contrasena{
    position: absolute;
}

#vision {
    width: 25px;
    margin-bottom: 2px;
    position: relative;
    z-index: 1;
    right: 40px;
}

#vision:hover {
    cursor: pointer;
}