{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/estiloproducto.css') }}">
{% endblock %}

{% block title %}
{{submenu}} {{menu}}
{% endblock %}

{% block content %}
<section >
    <div class="nombre_titulo">
        <div class="img">
            {% if submenu=='Registrar' %}
            <img src="{{ url_for('static', filename='img/add.png') }}" alt="" width="32" height="32" class="d-inline-block align-text-top">
            {% elif submenu=='Editar' %}
            <img src="{{ url_for('static', filename='img/edit.png') }}" alt="" width="32" height="32" class="d-inline-block align-text-top">
            {% else %}
            <img src="{{ url_for('static', filename='img/info.png') }}" alt="" width="32" height="32" class="d-inline-block align-text-top">
            {% endif %}
        </div>
        <div class="nombre">
            <p>{{submenu}} {{menu}}</p>
        </div>
    </div> 
    <div class="presentacion">
        <!-- <h2>{{submenu}} {{menu}} </h2> -->
        <div class="container">
            <div class="row m-sm-2" id="contenedor_titulo">
                <div class="col-10">
                     <h2>{{submenu}} {{menu}}</h2>
                 </div>
                 {%if submenu=='Registrar' or submenu =='Editar'%}
                 <div class="col">
                     <input type="submit" form="formulario_producto" class="btn btn-outline-success" id="btn_enviar" value="" onsubmit="send()">
                 </div>
                 <div class="col">
                     <input type="reset" form="formulario_producto" class="btn btn-outline-danger" id="btn_cancelar" onclick="location.reload()" value="">
                 </div>
                 {%elif submenu=='Información'%}
                <div class="col">
                    <!-- <input type="submit"  class="btn btn-outline" id="btn_editar" value=""> -->
                    {% if menu=='Productos' %}
                    <a href="{{url_for('editar_producto_vista') }}">
                    {% elif menu=='Proveedores' %}
                    <a href="{{url_for('editar_proveedor_vista') }}">
                    {% else %}
                    <a href="{{url_for('editar_usuario_vista') }}">
                    {% endif %}
                        <img src={{ url_for('static', filename='img/edit.png') }}  width="50" class="sobre"/>
                    </a>
                </div>  
                <div class="col">
                    <input type="reset" form="formulario_producto" class="btn btn-outline" id="btn_delete" value="">
                </div>
                 {% endif %}
            </div>
        </div>
        <div class="foto-formulario">
            {%if submenu != 'Información'%}
            <div class="foto_producto">
                <div class="contenedor_img">
                    <div id="preview" class="imagen"><img src="/static/img/photo.png" alt=""></div>
                </div>
                <div class="input-group">
                    <input type="file" class="" id="seleccionArchivos" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    <script src="/static/js/pre.js"></script>
                </div>
            </div>
            <div class="formulario">
                <form action="" method="GET">
                    <div>
                        <p for="">
                            ID:       
                        </p>
                        <input required type="number">
                    </div>
                    <div>
                        <p for="">
                            Nombre:
                        </p>
                        <input required type="text" minlength="2">
                    </div>
                    <div>
                        <p for="">
                            e-mail:
                        </p>
                        <input required type="email">
                    </div>
                    <div>
                        <p for="">
                            Teléfono de contacto:
                        </p>
                        <input required type="number" min="3000000000" max="3600000000">
                    </div>
                    <div>
                        <p for="">
                            Ciudad:
                        </p>
                        <input required type="text">
                    </div>
                    <div>
                        <p for="">
                            Dirección:
                        </p>
                        <input required type="text" min="">
                    </div>
                    <div>
                        <p for="">
                            Fecha de registro:
                        </p>
                        <input required type="date" placeholder="dd/mm/aaaa" required>
                    </div>
                    <div>
                        <p for="">
                            Descripción:
                        </p>
                        <input type="text">
                    </div>
                    <div>
                        <p for="">
                            Proveedores:
                        </p>
                        <input type="text">
                    </div>
                    {% if menu=='Usuarios' %}
                    <div>
                        <p for="">
                            Rol:       
                        </p>
                        {{ check.rol }}
                    </div>
                    {% endif %}
                </form>
            </div>
            {%elif submenu =='Información'%}
            <div class="foto_producto">
                <img src="{{ url_for('static', filename='img/photo.png') }}"/>
            </div>
            <div class="formulario">
                <form action="" method="GET">
                    <div>
                        <p for="">
                            ID:       
                        </p>
                        <input readonly type="number" value="001">
                    </div>
                    <div>
                        <p for="">
                            Nombre:
                        </p>
                        <input readonly type="text">
                    </div>
                    <div>
                        <p for="">
                            e-mail:
                        </p>
                        <input readonly type="email">
                    </div>
                    <div>
                        <p for="">
                            Teléfono de contacto:
                        </p>
                        <input readonly type="number" min="3000000000" max="3600000000">
                    </div>
                    <div>
                        <p for="">
                            Ciudad:
                        </p>
                        <input readonly type="text">
                    </div>
                    <div>
                        <p for="">
                            Dirección:
                        </p>
                        <input readonly type="text" min="">
                    </div>
                    <div>
                        <p for="">
                            Fecha de registro:
                        </p>
                        <input readonly type="date" placeholder="dd/mm/aaaa" >
                    </div>
                    <div>
                        <p for="">
                            Descripción:
                        </p>
                        <input readonly type="text">
                    </div>
                    <div>
                        <p for="">
                            Proveedores:
                        </p>
                        <input readonly type="text">
                    </div>
                    {% if menu=='Usuarios' %}
                    <div>
                        <p for="">
                            Rol:       
                        </p>
                        {{ check.rol }}
                    </div>
                    {% endif %}
                </form>
            </div>
            {%endif%}
        </div>
    </diiv>
</section>
{% endblock %}