{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/estiloproducto.css') }}">
{% endblock %}

{% block title %}
{{submenu}} {{menu}}
{% endblock %}

{% block content %}
<section >
    <div class="nombre_titulo">
        <div class="img">
            {% if submenu=='Registrar' %}
            <img src="{{ url_for('static', filename='img/add.png') }}" alt="" width="32" height="32" class="d-inline-block align-text-top">
            {% elif submenu=='Editar' %}
            <img src="{{ url_for('static', filename='img/edit.png') }}" alt="" width="32" height="32" class="d-inline-block align-text-top">
            {% else %}
            <img src="{{ url_for('static', filename='img/info.png') }}" alt="" width="32" height="32" class="d-inline-block align-text-top">
            {% endif %}
        </div>
        <div class="nombre">
            <p>{{submenu}} {{menu}}</p>
        </div>
    </div> 
    <div class="presentacion">
        <!-- <h2>{{submenu}} {{menu}} </h2> -->
        <div class="container">
            <div class="row m-sm-2" id="contenedor_titulo">
                <div class="col-10">
                     <h2>{{submenu}} {{menu}}</h2>
                 </div>
                 {%if submenu=='Registrar' or submenu =='Editar'%}
                 <div class="col">
                     <input type="submit" form="formulario" class="btn btn-outline-success" id="btn_enviar" value="" onsubmit="send()">
                 </div>
                 <div class="col">
                     <input type="reset" form="formulario" class="btn btn-outline-danger" id="btn_cancelar" onclick="location.reload()" value="">
                 </div>
                 {%elif submenu=='Información'%}
                <div class="col">
                    <!-- <input type="submit"  class="btn btn-outline" id="btn_editar" value=""> -->
                    {% if menu=='Productos' %}
                    <a href="{{url_for('editar_producto_vista') }}">
                    {% elif menu=='Proveedores' %}
                    <a href="{{url_for('editar_proveedor_vista') }}">
                    {% else %}
                    <a href="{{url_for('editar_usuario_vista') }}">
                    {% endif %}
                        <img src={{ url_for('static', filename='img/edit.png') }}  width="50" class="sobre"/>
                    </a>
                </div>  
                <div class="col">
                    <input type="reset" form="formulario" class="btn btn-outline" id="btn_delete" value="">
                </div>
                 {% endif %}
            </div>
        </div>
        <div class="foto-formulario">
            {%if submenu == 'Registrar'%}
            <div class="foto_producto">
                <div class="contenedor_img">
                    <div id="preview" class="imagen"><img src="/static/img/photo.png" alt=""></div>
                </div>
                <div class="input-group">
                    <input type="file" accept="image/*" form="formulario" name="img" class="" id="seleccionArchivos" aria-describedby="inputGroupFileAddon04" aria-label="Upload" onclick="previsualizar()">
                    <script src="/static/js/script.js"></script>
                </div>
            </div>
            <div class="formulario">
                <form action="/create-{{menu}}"  id="formulario" method="POST">
                    {%if menu=='Usuarios'%}
                    <div>
                        <p>
                            Identificación:       
                        </p>
                        <input required maxlength="10" minlength="7" autofocus name="content" type="number">
                    </div>
                    {%else%}
                    <div>
                        <p>
                            ID:       
                        </p>
                        <input value="" autofocus type="number">
                    </div>
                    {%endif%}
                    <div>
                        <p for="">
                            Nombre:
                        </p>
                        <input required name="nombre" type="text" minlength="2">
                    </div>
                    {%if menu=='Usuarios'%}
                    <div>
                        <p for="">
                            Usuario:
                        </p>
                        <input required name="usuario" id="contra" type="text" onsubmit="validar_contraseña()">
                    </div>
                    {%else%}
                    <div>
                        <p for="">
                            e-mail:
                        </p>
                        <input required name="email" type="email">
                    </div>
                    {%endif%}
                    {%if menu=='Usuarios'%}
                    <div>
                        <p for="">
                            Password:
                        </p>
                        <input required name="password" type="password">
                    </div>
                    {%else%}
                    <div>
                        <p for="">
                            Teléfono de contacto:
                        </p>
                        <input required type="number" min="3000000000" max="3600000000">
                    </div>
                    {%endif%}
                    {%if menu=='Usuarios'%}
                    <div>
                        <p for="">
                            E-mail:
                        </p>
                        <input required name="email" type="email">
                    </div>
                    {%else%}
                    <div>
                        <p for="">
                            Ciudad:
                        </p>
                        <input required name="ciudad" type="text">
                    </div>
                    {%endif%}
                    {%if menu=='Usuarios'%}
                    <div>
                        <p for="">
                            Teléfono de contacto:
                        </p>
                        <input  name="telefono" type="number" min="3000000000" max="3600000000">
                    </div>
                    {%else%}
                    <div>
                        <p for="">
                            Dirección:
                        </p>
                        <input required name="direccion" type="text" min="">
                    </div>
                    {%endif%}
                    <div>
                        <p for="">
                            Fecha de registro:
                        </p>
                        <input  type="date" name="fregistro" placeholder="dd/mm/aaaa" required>
                    </div>
                    {%if menu!='Usuarios'%}
                    <div>
                        <p for="">
                            Descripción:
                        </p>
                        <input name="descrpcion" type="text">
                    </div>
                    <div>
                        <p for="">
                            Proveedores:
                        </p>
                        <input name="nproveedores" type="text">
                    </div>
                    {%endif%}
                    {% if menu=='Usuarios' %}
                    <div>
                        <p for="">
                            Rol:       
                        </p>
                        <select name="rol">
                            <option value="1">Usuario final</option>
                            <option value="2">Administrador</option>
                            <option value="3">Super administrador</option>
                        </select>
                    </div>
                    {% endif %}
                </form>
            </div>
            {% endif %}
            {%if submenu == 'Editar'%}
            <div class="foto_producto">
                <div class="contenedor_img">
                    <div id="preview" class="imagen"><img src="/static/img/{{usuario[5]}}" alt=""></div>
                </div>
                <div class="input-group">
                    <input type="file" accept="image/*" form="formulario" name="img" class="" id="seleccionArchivos" aria-describedby="inputGroupFileAddon04" aria-label="Upload" onclick="previsualizar()">
                    <script src="/static/js/script.js"></script>
                </div>
            </div>
            <div class="formulario">
                <form action="/update-{{menu}}"  id="formulario" method="POST">
                    {%if menu=='Usuarios'%}
                    <div>
                        <p>
                            Identificación:       
                        </p>
                        <input readonly value="{{usuario[0]}}" maxlength="10" minlength="7" name="content" type="number">
                    </div>
                    {%else%}
                    <div>
                        <p>
                            ID:       
                        </p>
                        <input value="" autofocus type="number">
                    </div>
                    {%endif%}
                    <div>
                        <p for="">
                            Nombre:
                        </p>
                        <input value="{{usuario[1]}}" name="nombre" type="text" minlength="2">
                    </div>
                    {%if menu=='Usuarios'%}
                    <div>
                        <p for="">
                            Usuario:
                        </p>
                        <input  value="{{usuario[2]}}" name="usuario" id="contra" type="text" onsubmit="validar_contraseña()">
                    </div>
                    {%else%}
                    <div>
                        <p for="">
                            e-mail:
                        </p>
                        <input required name="email" type="email">
                    </div>
                    {%endif%}
                    {%if menu=='Usuarios'%}
                    <div>
                        <p for="">
                            Password:
                        </p>
                        <input value="{{usuario[3]}}" name="password" type="password">
                    </div>
                    {%else%}
                    <div>
                        <p for="">
                            Teléfono de contacto:
                        </p>
                        <input required type="number" min="3000000000" max="3600000000">
                    </div>
                    {%endif%}
                    {%if menu=='Usuarios'%}
                    <div>
                        <p for="">
                            E-mail:
                        </p>
                        <input value="{{usuario[4]}}" name="email" type="email">
                    </div>
                    {%else%}
                    <div>
                        <p for="">
                            Ciudad:
                        </p>
                        <input required name="ciudad" type="text">
                    </div>
                    {%endif%}
                    {%if menu=='Usuarios'%}
                    <div>
                        <p for="">
                            Teléfono de contacto:
                        </p>
                        <input value="{{usuario[8]}}" name="telefono" type="number" min="3000000000" max="3600000000">
                    </div>
                    {%else%}
                    <div>
                        <p for="">
                            Dirección:
                        </p>
                        <input required name="direccion" type="text" min="">
                    </div>
                    {%endif%}
                    <div>
                        <p for="">
                            Fecha de registro:
                        </p>
                        <input value="{{usuario[6]}}" type="date" name="fregistro" placeholder="dd/mm/aaaa" required>
                    </div>
                    {%if menu!='Usuarios'%}
                    <div>
                        <p for="">
                            Descripción:
                        </p>
                        <input name="descrpcion" type="text">
                    </div>
                    <div>
                        <p for="">
                            Proveedores:
                        </p>
                        <input name="nproveedores" type="text">
                    </div>
                    {%endif%}
                    {% if menu=='Usuarios' %}
                    <div>
                        <p for="">
                            Rol:       
                        </p>
                        <select name="rol">
                            {%if usuario[7]=='1'%}
                            <option value="1">Usuario final</option>
                            <option value="2">Administrador</option>
                            <option value="3">Super administrador</option>
                            {%elif usuario[7]=='2'%}
                            <option value="2">Administrador</option>
                            <option value="1">Usuario final</option>
                            <option value="3">Super administrador</option>
                            {%else%}
                            <option value="3">Super administrador</option>
                            <option value="1">Usuario final</option>
                            <option value="2">Administrador</option>
                            {%endif%}
                        </select>
                    </div>
                    {% endif %}
                </form>
            </div>
            {%elif submenu =='Información'%}
            <div class="foto_producto">
                <img src="{{ url_for('static', filename='img/photo.png') }}"/>
            </div>
            <div class="formulario">
                <form action="" method="GET">
                    <div>
                        <p for="">
                            ID:       
                        </p>
                        <input readonly  type="number" value="{{usuario[0]}}">
                    </div>
                    <div>
                        <p for="">
                            Nombre:
                        </p>
                        <input readonly type="text">
                    </div>
                    <div>
                        <p for="">
                            e-mail:
                        </p>
                        <input readonly type="email">
                    </div>
                    <div>
                        <p for="">
                            Teléfono de contacto:
                        </p>
                        <input readonly type="number" min="3000000000" max="3600000000">
                    </div>
                    <div>
                        <p for="">
                            Ciudad:
                        </p>
                        <input readonly type="text">
                    </div>
                    <div>
                        <p for="">
                            Dirección:
                        </p>
                        <input readonly type="text" min="">
                    </div>
                    <div>
                        <p for="">
                            Fecha de registro:
                        </p>
                        <input readonly type="date" placeholder="dd/mm/aaaa" >
                    </div>
                    <div>
                        <p for="">
                            Descripción:
                        </p>
                        <input readonly type="text">
                    </div>
                    <div>
                        <p for="">
                            Proveedores:
                        </p>
                        <input readonly type="text">
                    </div>
                    {% if menu=='Usuarios' %}
                    <div>
                        <p for="">
                            Rol:       
                        </p>
                        {{ check.rol }}
                    </div>
                    {% endif %}
                </form>
            </div>
            {%endif%}
        </div>
    </diiv>
</section>
{% endblock %}